button.col-2.col-lg-1.btn.btn-block.saveBtn {
    border-radius: 3px;
    border-style: solid;
    border: black;
    background-color: yellow;
    color: gray;
}

.time-row {
    border: black;
    text-align: center;
    border-radius: 20px;

}
.row {
    height: 70px;
    border-top: 2px solid gray;
    white-space: pre-wrap;
}

main {
    margin: 5% 5% 5% 5%;
}
header.jumbotron {
    align-content: center;
    text-align: center;
    background-color:#ffba00;
}
/* .HourByHour {
    border-radius: 10px;
    text-align: center; */

/* .col-2.col-lg-1.time {
    border: solid;
    color: black; */

textarea {
    border: solid;
    color: black;
}