.saveBtn {
    border: black;
    background-color: yellow;
    color: gray;
}

.time-row {
    border: black;
    text-align: center;
    border-radius: 20px;

}
.row {
    height: 70px;
    border-top: 2px solid gray;
    white-space: pre-wrap;
}
#save {
    border: black;
    background-color: yellow;
}
main {
    margin: 5% 5% 5% 5%;
}